body {
    background: linear-gradient(to bottom, #03B3FF, #FF03A1);
    height: 100vh;
    margin: 0; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-family: Arial, sans-serif; 
}

.user-details {
    text-align: right;
    margin-right: 10px;
}

.user-score {
    margin-top: -100px;
    text-align: left;
    margin-left: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

